/* Colors */
$background-color: #000000 !default;
$text-color: #949498 !default;
$muted-text-color: $text-color !default;
$primary-color: #E8E8E9 !default;           // 이 부분이 강조색이다. 우상단 메뉴, 인용문 등의 강조색.
$border-color: mix(#fff, $text-color, 75%) !default;
$footer-background-color: #151517 !default;
$link-color: #F5F5F7 !default;              // 이 부분이 링크의 색깔을 결정한다.
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;
$code-background-color: #151517 !default;
$code-background-color-dark: #151517 !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$nav-bar-color: #151517 !default;


// $link-color-hover: mix(#fff, $link-color, 25%) !default;

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}

.page__title{
  color: $link-color;
}
